.Post {
    background-color: #fff;
    margin-bottom: 60px;
    margin-left : 55%;
    margin-right: 10%;
  }
  .Post-user {
    display: flex;
    padding: 16px;
    align-items: right;
  }
  .Post-image-bg {
    background-color: #efefef;
  }
  .Post-image img {
    display: block;
    width: 100%;
  }
  .vjs-fade-out {
    display: none;
    visibility: hidden;
    opacity: 0;
  }