.Yeezynav {
    background-color: #F76A43;
    overflow: visible;
    height: 50px;
    margin-right: 60px;
    width: auto;
  }
  
  .Yeezynav a  {
    float: right;
    color: #4d4343;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .Yeezynav a:hover {
    background-color: #4C414C;
    color: black;
  }
  
  .Yeezynav a:active {
    background-color: #A4A1AB;
    color: white;
  }