.topnav {
    background-color: #e7e2bf;
    overflow: visible;
  }
  
  .topnav a {
    float: right;
    color: #4d4343;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    flex-direction: row-reverse;
  }
  
  .topnav a:hover {
    background-color: #C2C4C9;
    color: black;
  }
  
  .topnav a.active {
    background-color: #A4A1AB;
    color: white;
  }